section[data-type = playground]{
    border: none;
    background-color: white;
}

p[data-type = "guia ordenador"]{
    visibility: visible;
}

p[data-type = "guia pantalla pequeña"]{
    visibility: hidden;
}

section[data-type=botonera]{
    visibility: hidden;
}

@media screen and (max-width: 799px) {
    p[data-type = "guia pantalla pequeña"]{
        visibility: visible;
    }

    p[data-type = "guia ordenador"]{
        visibility: hidden;
    }

    section[data-type=botonera]{
        visibility: visible;
    }
}