h3 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 2em;
    border: 0.1em solid #808080;
    margin: 0;
    background-color: #fff;
}

p[data-state = 'empty']{
    background-color: #000;
}

p[data-state = "clicked"]{
    background-color: #013A20;
}

section[data-name = "game"]{
    background-color: #BACC81;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(9, 1fr);
    border: 0.15em solid #000;;
    width: 80%;
    margin: auto;
}

section[data-type = top]{
    border: none;
    background-color: #BACC81;
    margin: auto;
    width: 50%;
}

ol {
    text-align: center; /* Centra el texto dentro del contenedor <ul> */
}
  
li {
    text-align: left; /* Alinea el texto a la izquierda dentro de cada elemento <li> */
    list-style-position: inside; /* Coloca el marcador dentro del área del contenido */
}

