h3 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 2em;
    border: 0.1em solid #808080;
    margin: 0;
    color: #000;
    background-color: #fff;
}

p[data-state = 'empty']{
    color: #fff;
    background-color: #000;
}

p[data-state = "clicked"]{
    color: #fff;
    background-color: #013A20;
}

main{
    color: #000;
    background-color: #BACC81;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(9, 1fr);
    border: 0.15em solid #000;;
    width: 80%;
    margin: auto;
}

section[data-type = top]{
    border: none;
    color: #000;
    background-color: #BACC81;
    margin: auto;
    width: 50%;
}

ol {
    text-align: center;
}
  
li {
    text-align: left; 
    list-style-position: inside;
}

input[type = submit]{
    width: auto;
    height: 2.5em;
    font-size: larger;
    font-weight: bolder;
    display: block;
    margin: auto;
}

h4{
    color: #fff;
    font-size: larger;
    width: 100%;
}

button{
    font-size: larger;
}

