/*
Mario Junquera Rojas UO287557
*/
/*
Forest Green #013A20
Emerald Green #478C5C
Lint #BACC81
Lint #CDD193
*/

/* Especifidad: 001*/
body {
    font-family: Helvetica, Verdana, sans-serif;
    background-color: #BACC81;
    color: #000;
    font-weight: bolder;    
}

/* Especifidad: 001*/
header {
    background-color:#013A20;
    color: #fff;
}

/* Especifidad: 001*/
h1 {
    font-weight: 900;
    font-size: 2.5em;
}

/*Especifidad 001*/
nav {
    font-weight: 700;
    font-size: 1.8em;
}

/*Especifidad 011*/
nav a:link {
  color: #fff;
  background-color:#013A20;
}

/*Especifidad 012*/
nav a:visited {
  color: #fff;
  background-color:#013A20;
}
  
/*Especifidad 011*/
a:focus {
  background: #013A20;
  color: #fff;
}

/*Especifidad 011*/
a:hover {
  background: #013A20;
  color: #fff;
}

/*Especifidad 011*/
a:active {
  background: #CDD193;
  color: #000;
}

/*Especifidad 002*/
ul a {
  color : #000;
  /* hereda background de section #BACC81*/
}

/*Especifidad 001*/
section {
    /* hereda color de body #000*/
    background-color: #BACC81;
    border: 0.5em double #000;
}

/*Especifidad 101*/
section#Presentación {
  font-weight: normal;
}

/*Especifidad 001*/
aside {
    background-color: #013A20;
    color: #fff;
}

/* Especifidad: 001, 001*/
h2, h3 {
    font-weight: 700;
    font-size: 1.8em;
    background-color: #013A20;
    color: #fff;
}

/* Especifidad: 001*/
li {
  font-weight: bolder;
}

/* Especifidad: 001*/
ul { 
  list-style-type: '★'; 
}

/* Especifidad: 001*/
ol {
  list-style-type: upper-roman;
}

/* Especifidad: 103*/
ul#anidada li::marker{
  content: '☆'; 
}

/* Especifidad: 013*/
ul li:nth-child(3)::marker {
  content: '🕮';
}

/* Especifidad: 002*/
dl dd{
  font-weight: lighter;
}

/* Especifidad: 001, 001, 001, 001*/
table, caption, th, td {
  border-collapse: separate;
  border: 0.15em solid #BACC81;
  letter-spacing: 0.15em;
  text-align: center;
}

/* Especifidad: 001*/
img, video { 
  max-width:100%;
  height:auto; 
}

/*Especifidad: 011*/
section[data-type="tiempo"]{
  border: 0.2em dotted #fff;
  /* hereda color de body #000*/
  background-color: #34ebd8;
  margin: 1%;
  align-items: center;
  border-radius: 20%;
  padding: 0.5em;
}

/*Especifidad: 011*/
section[data-type="datos"]{
  background-color: #34ebd8;
  color: #000;
  border-radius: 20%;
}

/*Especifidad: 011, 011*/
section[data-type="pronostico"], section[data-type="datos"]{
  border: none;
}


/*Especifidad: 011*/
section[data-type="carreras"]{
  border:none;
}

/*Especifidad: 011*/
section[data-type="carrera"]{
  border:none;
  /* hereda color de body #000*/
  background-color: #fff;
  padding: 2em;
  border-radius: 20%/50%;
}

/*Especifidad: 011*/
section[data-type="carrera"] p{
  text-align: center;
  margin: 0;
}

/*Especifidad: 021, 021*/
section[data-type="carrera"] p:nth-child(1){
  font-size: x-large;
  text-decoration-line: underline;
  text-decoration-thickness: 0.2em;
}

/*Especifidad: 022*/
section[data-type="carrera"] p:nth-child(2){
  font-size: larger;
}


