section{
    border: none;
}

section[data-type = "mapa dinamico"] {
    margin-top: 5%;
    height: 50em;
}

section[data-type = "ruta xml"]{
    margin: 2%;
    background-color: #C2B280;
}

section[data-type = "hito"]{
    background-color: yellow;
    margin: 1%;
}

section[data-type = "ruta xml"] a {
    display: block;
    width: 70%;
    overflow: hidden;
}

section[data-type = "ruta xml"] p[data-type = nombre] {
    font-size: larger;
    height: auto;
    background-color: #fff;
}

section[data-type = "ruta xml"] p[data-type = recomendacion] {
    font-size: larger;
    height: auto;
    background-color: #fff;
}

section[data-type = "ruta xml"] img{
    max-width: 15%;
    max-height: 15%;
}

svg {
    width: 45em;
    height: 27em;
}

section[data-type = carrusel]{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
}

section[data-type = carrusel] h3{
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2em;
}

img[data-type = 'img carrusel']{
    width: 100%;
    height: 80vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
}

section[data-type = carrusel] button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    font-size: 1em;
}

section[data-type = carrusel] button:active {
    transform: scale(1.1);
}
  
button[data-action=prev] {
    top: 50%;
    left: 2%;
}
  
button[data-action=next] {
    top: 50%;
    right: 2%;
}

