section{
    border: none;
}

section[data-type = "mapa dinamico"] {
    margin-top: 5%;
    height: 20em;
}

section[data-type = "ruta xml"]{
    margin: 2%;
    background-color: #C2B280;
}

section[data-type = "hito"]{
    background-color: yellow;
    margin: 1%;
}

section[data-type = "ruta xml"] a {
    display: block;
    width: 70%;
    overflow: hidden;
}

section[data-type = "ruta xml"] p[data-type = nombre] {
    font-size: larger;
    height: auto;
    background-color: #fff;
}

section[data-type = "ruta xml"] p[data-type = recomendacion] {
    font-size: larger;
    height: auto;
    background-color: #fff;
}

section[data-type = "ruta xml"] img{
    max-width: 15%;
    max-height: 15%;
}

svg {
    width: 45em;
    height: 27em;
}