/*
Mario Junquera Rojas UO287557
*/

/*Especifidad: 001*/
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

/*Especifidad: 002, 002*/
header h1, header nav *{
    margin: auto;
    flex: 3em;
}

/*Especifidad: 011*/
section[data-type="tiempo"]{
    display: flex;
}

/*Especifidad: 012*/
section[data-type="pronostico"] h3{
   width: 100%;
   text-align: center;
}

/*Especifidad: 011*/
section[data-type="pronostico"]{
    display: flex;
    flex-wrap: wrap;
}

/*Especifidad: 011*/
section[data-type="carreras"]{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

/*Especifidad: 011*/
section[data-type="carrera"]{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

@media screen and (max-width: 799px) {
    /*Especifidad: 001*/
    header {
        flex-direction: column; /*Se redefine*/
    }

    /*Especifidad: 001*/
    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    /*Especifidad: 001*/
    nav * {
        flex: 3em;
    }
  }


